.DS_Store
.env
.env.*.local
.env.*

# Node
node_modules
.turbo
dist
.next
out

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

