POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=codebase_onboarding
POSTGRES_PORT=5432

BACKEND_PORT=8000
FRONTEND_PORT=3000

COAI_ENVIRONMENT=local
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000

